.marg{
    margin-bottom: 0ex;
    padding-bottom: 0ex;
}
.dimin{
    height: 40rem;
}

.dimin2{
position: relative;
right: 100px;
}

.nav-item .nav-link:hover{
    background-color:gray;
    font-size: 18px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.divfexd{
    position: relative;
    height: 33em;
    /* background-image: url("/img/1-\ pexels-charles-parker-5847766.jpg"); */
    /* background-repeat: repeat;
    background-size:contain; */
    height: 600px;

}


.mask1{
    width: 100%;
    height: 100%;
    transition: all 3s ease;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
}
.mask1:hover{ 
    background-color: rgba(65, 65, 170, 0.726); 
    position: absolute;
    top: 30%;
   left: -30%;
    /* transform:rotateY(180deg) ; 
    -webkit-transform:rotateY(180deg) ; 
    -moz-transform:rotateY(180deg) ; 
    -ms-transform:rotateY(180deg) ; 
    -o-transform:rotateY(180deg) ; */
}

.top{
    position: relative;
    top: 2em;
}

.div3{
    height: 10em;
     position: relative;
     top: 20em;
     height: 25em;
     margin-top: 30em;
    }

    .font{
        font-family:'Monoton', cursive;
    }


    .font1{
        padding-top: 5px;
        font-size: 1em;
    }

    .nav1{
        height: 4em;
         position: fixed;
          z-index: 2;
          background-color: rgba(8, 8, 66, 0.932);
    }
    .nav2{
        position: fixed; 
        z-index: 2;
         margin-top: 4em;
    }
    .image{
        height: 750px;
    }
    .gm{
        
        position: relative;
    }
    .gm2{
        position: absolute;
        z-index: 1;
        width: 15em;
        height: 15em;
        top: -7.5em;
        left: 30%;
    }
    .pt{
        padding-top: 5.5em;
    }
    .logo{
           width: 15em;
           height: 10em;
           z-index: 3;
            position: absolute; 
            top: 12%;
             left: 40px;
    }
   .mart{
       margin-top: 50px;
   }
   .fontsize{
       font-size: 1.7em;
   }
   .fontsize1{
    font-size: .9em;  
   }
   
   .fontsize2{
    font-size: 1.2em;
   }

  .vertical{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     height: 5.5em;
     background-color: rgba(26, 26, 131, 0.884);
     
}
.contrade2{
    width: 100%;
    height: 200px;
}
.contrade{
    z-index: 2;
     height: 17em;
      width: 23%; 
        position: absolute;
         top: 150em; 
         left: 39%;
          border: 10px solid  blueviolet; 
          border-style: double;
          background-color: transparent;
          color: darkslategrey;
}

.beforlast{
    position: absolute;
    top: 2280px;
    width: 100%;
    height: 500px;
    background-repeat:repeat;
    background-size: contain;
    background-attachment: fixed;
}
.beforlast1{
    background-color:rgb(88, 81, 81);
    position: relative;
    width: 100%;
    height: 350px;
    margin-top: 350px;
    margin-bottom: 100px;
}
.logo_img{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.footer{
    position: relative;
    background-color: rgb(32, 31, 31);
    width: 100%;
    height: 350px;
    font-size: 20px;
    padding-top: 30px;
}

.Defination{
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 100px;
    background-color: rgb(32, 31, 31);
    color: blanchedalmond;
}
.auto{
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
    @media only screen and (max-width: 400px) {

     .font{
        font-size: 10px;
       margin-left: 0px;
     }
     
     .font1{
        font-size: 10px;
        padding-left: 5px;
    
    }
     .nav1{
        height: 3em;
     }
     .nav2{
        margin-top: 3em;
         background-color: rgba(15, 14, 14, 0.822);
     }
     .navbar-toggler{
         background-color: rgb(223, 210, 210);
     }
     .image{
        height: 400px;
     }
     .divfexd{
        height: 24em;
        margin-top: 1em;
     }
     .fontsize{
        font-size: .6em;
    }
    .fontsize1{
        font-size: 0.5em;
    }
    .mt-5{
        margin-top: 5px;
    }
    .fontsize2{
        font-size: .7em;
    }
    
    .div3{
       
         top: 16.5em;
         height: 15em;
         margin-top: 16em;
        }
     .gm2{
        position: absolute;
        margin-top: 60px;
        width: 100px;
        height: 100px;
        margin-left: 0px;
        left: 15px;
     }

     .pt{
         padding-top: 0px;
         font-size: 10px;
     }
     .pink-text{
         font-size: 15px;
     }
     .card-title{
         font-size: 12px;
     }
      }

  